.frameTamerTalk{
    width: 100%;
    margin-bottom: 250px;
    .frameTamerTalkColumn{
        width: 100%;
        .frameTamerTalkTitle{
            padding-top: 54px;
            margin-bottom: 72px;
        }
        .frameTamerTalkQuote{
            width: 100%;
            position: relative;
            .frameTamerTalkGif{
                width: 100%;
                height: 567px;
                overflow: hidden;
                video{
                    -o-object-fit: cover;
                    object-fit: cover;
                    width: 100%;
                    height: 108%;
                }
            }
            .frameTamerTalkText{
                font-weight: 400;
                font-size: 40px;
                line-height: 160%;
                position: absolute;
                top: 454px;
                left: 0;
            }
            .frameTamerTalkWatchYtButton{
                padding: 0 0 2px 0;
                border: 2px solid #E6007E;
                transform: skew(-8deg);
                display: flex;
                align-items: center;
                justify-content: center;
                flex-wrap: nowrap;
                margin-top: 123px;
                width: 100%;
                max-height: 63px;
                min-height: 63px;

                a{
                    color: #E6007E;
                    transform: skew(8deg);
                }
                &:hover{
                    background: #E6007E;
                    color: #fff !important;
                    transition: 0.3s;
                    a{
                        color: #fff;
                    }
                    span{
                            color: #fff;
                    }
                }
                &:hover > .iconYT{

                    background: url(../../Shared/image/Icon_YT_White.svg);
                    transition: 0.3s;
                    background-size: 100% 100%;
                }
                .iconYT{
                    display: inline-block;
                    margin-right: 16px;
                    transform: skew(8deg);
                    width: 32px;
                    height: 32px;
                    background: url(../../Shared/image/IconYT_.svg);
                }
            }
        }
    }
}


@media all and (max-width: 1215px){
    .frameTamerTalk{
        width: 100%;
        margin-bottom: 250px;
        .frameTamerTalkColumn{
            width: 100%;
            .frameTamerTalkTitle{
                padding-top: 12px;
                margin-bottom: 40px;
                width: 600px;
            }
            .frameTamerTalkQuote{
                width: 100%;
                position: relative;
                .frameTamerTalkGif{
                    width: 679px;
                    height: 314px;

                }
                .frameTamerTalkText{
                    position: absolute;
                    padding: 0;
                    margin: 0;
                    width: 659px;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 22px;
                    line-height: 160%;
                    top: 254px;
                    left: 0;
                }
                .frameTamerTalkWatchYtButton{
                    margin-top: 66px;
                    margin-right: 43px;
                   width: 679px;
                   height: 63px;


                }
            }
        }
    }
}

@media (max-width: 790px){
    .frameTamerTalk{
        width: 100%;
        margin-bottom: 250px;
        .frameTamerTalkColumn{
            width: 100%;
            .frameTamerTalkTitle{
                padding-top: 30px;
                margin-bottom: 40px;
                width: 93%;
                line-height: 113%;
            }
            .frameTamerTalkQuote{
                width: 100%;
                position: relative;
                .frameTamerTalkGif{
                    width: 327px;
                    height: 314px;

                }
                .frameTamerTalkText{
                    position: absolute;
                    padding: 0;
                    margin: 0;
                    width: 93%;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 22px;
                    line-height: 160%;
                    top: 254px;
                    left: 0;
                }
                .frameTamerTalkWatchYtButton{
                    margin-top: 177px;
                    margin-right: 43px;
                    width: 93%;
                    height: 63px;
                    a{
                        span{
                            display: none;
                        }
                    }
                }
            }
        }
    }
}