%merchTextRow{
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 110%;

}


.merchBLock{
    width: 100%;
    padding-bottom: 454px;
    position: relative;

    .merchBLock_modal{
        width: 100vw;
        height: 124vh;
        position: absolute;
        background: rgba(0, 0, 0,0.7);
        top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 50;
        .merchBLock_modalConteiner{
            width: 55%;
            height: 45%;
            video{
                -o-object-fit: cover;
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
        }
        .closeIcon{
            width: 32px;
            height: 32px;
            background: url(../../Shared/image/iconClose.svg);
            position: absolute;
            right: 15%;
            top: 22.5%;
        }
    }
    .merchBlockRibbon{
        left: -70px;
        .ribbonBlockLine{
            position: relative;
            width: 100%;
            height: 20px;
            top: 0px;
            .blockLineItem{
                animation: moveRibbenItem 5s linear infinite;
                display: inline-block;
                min-width: 50px;
                max-width: 50px;
                min-height: 20px;
                max-height: 20px;
                background: #000;
                position: relative;
                z-index: 100;
                transform: skew(-30deg);
                margin-left: 50px;
            }
            .bottom{
                transform: skew(30deg);
                top: 2px;
                .blockLineItem{
                    position: relative;

                }
            }
        }
        width: 4000px;
        height: 130px;
        background: #FFC404;
        transform: rotate(-4deg);
        background-repeat: repeat-x;
        position: absolute;
        bottom: 378px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        span{
            display: inline-block;
            position: relative;
            animation: moveRibben 5s linear infinite;
            color: #000;
            font-weight: 400;
            margin-left: 48px;
            font-size: 40px;
            line-height: 110%;
        }
    }
    .backLine{
        display: block;
        background: #FFC404;
        bottom: 241px;
        transform: rotate(4deg);
        span{
            display: inline-block;
            width: 394px;
            height: 100%;
            padding-left: 48px;
            margin-left: 0;
            padding-top: 38px;
            animation: moveRibbenBack 5s linear infinite;
        }
    }
    .merchBlockColumn{
        width: 100%;
        .merchBLockTitle{
            margin-bottom: 72px;

        }
        .merchBLockContent{
            width: 100%;
            display: flex;
            justify-content: space-between;

            .merchBLockContentColumn{
                &:first-child{
                    .merchBLockContentRow{
                        height: 100%;
                        width: 100%;
                        .merchBLockContentImg{
                            width: 930px;
                            height: 530px;
                            position: absolute;
                            top: 55px;
                            right: -156px;
                        }
                    }
                }
                &:last-child{
                    background: #000;
                    &:last-child{
                        .stickerBlock{
                            width: 100%;
                            height: 100%;
                            position: relative;
                            top: 0;
                            left: 0;
                            display: flex;
                            overflow: hidden;
                            :first-child{
                                top: -45px;
                                left: 222px;
                                z-index: 1;
                            }
                            :last-child{
                                width: 283px;
                                height: 284px;
                                left: 400px;
                                z-index: -1;
                            }
                            img{
                                top: 0;
                                position: absolute;
                            }
                        }
                    }
                }
                width: 600px;
                height: 760px;
                position: relative;
                display: flex;
                flex-direction: column;
                background: #171717;
                gap: 24px;

                .merchBLockContentTextMB{
                    position: absolute;
                    @extend %merchTextRow;
                    padding: 0;
                    left: 48px;
                    bottom: 48px;
                }

                .merchBLockContentRow{
                    overflow: hidden;
                    position: relative;
                    width: 100%;
                    .merchBLockContentText{
                        @extend %merchTextRow;
                        position: absolute;
                        bottom: 48px;
                        left: 48px;
                    }
                    height: 237px;
                    background: #171717;
                    .merchBLockContentImg{

                        position: absolute;
                        top: 0;
                        right: 0;
                    }

                }
            }
        }
    }
}


.cap{
    top: -55px !important; // scss is boolshit)
    .playVideo{
        display: flex;
        width: 107px;
        align-items: center;
        position: absolute;
        top: 71px;
        right: 24px;
        z-index: 20;
        &::before{
            content: '';
            margin-right: 6px;
            display: block;
            width: 48px;
            height: 48px;
            background: url(../../Shared/image/iconPlay.svg) no-repeat;
            background-position: center;
        }
    }
}

.hide{
    display: none !important;
    left: -2000px;
}

@keyframes moveRibben {
    0%{
        transform: translate(-50px, 0px);
    }
    100%{
        transform: translate(-448px, 0px);
    }
}

@keyframes moveRibbenItem {
    0%{
        transform: translate(-50px, 0px) skew(-30deg);
    }
    100%{
        transform: translate(-448px, 0px) skew(-30deg);
    }
}

@keyframes moveRibbenBack {
    0%{
        transform: translate(-394px, 0px);

    }
    100%{
        transform: translate(0px, 0px);
    }

}

@keyframes moveRibbenTab {
    0%{
        transform: translate(0px, 0px);

    }
    100%{
        transform: translate(-330px, 0px);
    }
}

@keyframes moveRibbenItemTab {
    0%{
        transform: translate(0px, 0px) skew(-30deg);

    }
    100%{
        transform: translate(-330px, 0px) skew(-30deg);
    }
}

@keyframes moveRibbenBackTab {
    0%{
        transform: translate(-380px, 0px);
    }
    100%{
        transform: translate(-50px, 0px);
    }

}

@keyframes moveRibbenMob {
    0%{
        transform: translate(0px, 0px);

    }
    100%{
        transform: translate(-333px, 0px);
    }
}

@keyframes moveRibbenItemMob {
    0%{
        transform: translate(0px, 0px) skew(-30deg);

    }
    100%{
        transform: translate(-333px, 0px) skew(-30deg);
    }
}

@keyframes moveRibbenBackMob {
    0%{
        transform: translate(-373px, 0px);
    }
    100%{
        transform: translate(-50px, 0px);
    }
}



@media all and (max-width: 1215px){
    .merchBLock{
        width: 100%;
        padding-bottom: 454px;
        position: relative;
        .merchBLock_modal{
            .merchBLock_modalConteiner{
                width: 80%;
                height: 40%;
            }
        }
        .merchBlockRibbon{
            left: -70px;
            .ribbonBlockLine{

                position: relative;
                width: 100%;
                height: 20px;
                top: 0px;
                .blockLineItem{
                    animation: moveRibbenItemTab 5s linear infinite;
                    display: inline-block;
                    min-width: 50px;
                    max-width: 50px;
                    min-height: 20px;
                    max-height: 20px;
                    background: #000;
                    position: relative;
                    z-index: 100;
                    transform: skew(-30deg);
                    margin-left: 60px;
                }
                .bottom{
                    transform: skew(30deg);
                    top: 2px;
                    .blockLineItem{
                        position: relative;

                    }
                }
            }
            width: 4000px;
            height: 100px;
            background: #FFC404;
            transform: rotate(-9deg);
            background-repeat: repeat-x;
            position: absolute;
            bottom: 460px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            span{

                position: relative;
                animation: moveRibbenTab 5s linear infinite;
                color: #000;
                font-weight: 400;
                margin-left: 48px;
                font-size: 32px;
                line-height: 110%;
            }
        }
        .backLine{
            left: -70px;
            display: block;
            background: #FFC404;
            bottom: 29px;
            transform: rotate(9deg);
            span{
                display: inline-block;
                width: 237px;
                height: 100%;
                padding-left: 48px;
                margin-left: 84px;
                padding-top: 27px;
                animation: moveRibbenBackTab 5s linear infinite;
            }
        }
        .merchBlockColumn{
            width: 100%;
            height: auto;
            .merchBLockTitle{
                margin-bottom: 40px;

            }
            .merchBLockContent{
                width: 100%;
                height: auto;
                gap: 24px;
                display: flex;
                flex-direction: row;
                position: relative;
                flex-wrap: wrap;
                .merchBLockContentColumn{
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    position: relative;
                    flex-wrap: wrap;
                    &:first-child{
                        position: absolute;
                        width: 328px;
                        height: 416px;
                        top: 438px;
                        left: 352px;
                        z-index: 10;
                        .merchBLockContentRow{
                            height: 416px;
                            width: 328px;

                            .merchBLockContentImg{
                                position: absolute;
                                top: 70px;
                                right: -26px;
                                width: 377px;
                                height: 243px;
                                img{
                                    width: 100%;
                                    height: 100%;
                                }
                            }
                        }
                    }
                    &:last-child{
                        background: #000;
                        width: 100%;
                        position: relative;
                        display: flex;

                        gap: 24px;
                        &:last-child{
                            .stickerBlock{
                                width: 100%;
                                height: 100%;
                                position: relative;
                                top: -15px;
                                left: 0;
                                display: flex;
                                overflow: hidden;
                                :first-child{
                                    top: 69px;
                                    width: 301px;
                                    height: 300px;
                                    left: -45px;
                                    z-index: 1;
                                }
                                :last-child{
                                    top: 114px;
                                    width: 207px;
                                    height: 208px;
                                    left: 130px;
                                    z-index: -1;
                                }
                                img{
                                    top: 0;
                                    position: absolute;
                                }
                            }
                        }
                    }

                    .merchBLockContentTextMB{
                        position: absolute;
                        @extend %merchTextRow;
                        padding: 0;
                        font-size: 32px;
                        left: 0px;
                        bottom: 32px;
                        width: 100%;
                        text-align: center;
                    }

                    .merchBLockContentRow{
                        position: relative;
                        width: 328px;
                        height: 416px;
                        background: #171717;
                        .merchBLockContentText{
                            width: 100%;
                            text-align: center;
                            @extend %merchTextRow;
                            font-size: 32px;
                            text-align: center;
                            left: 0px;
                            bottom: 32px;
                        }



                        .merchBLockContentImg{
                            position: absolute;
                            top: 0;
                            right: 0;
                        }

                    }
                }
            }
        }
    }
    .cap{
        top: 0px !important; // scss is boolshit)
        .playVideo{
            top: 27px;
        }
    }
    .tishka{
        right: -8px !important;
    }
}


@media (max-width: 790px){
    .merchBLock{
        width: 100%;
        padding-bottom: 857px;
        position: relative;
        .merchBLock_modal{
            .merchBLock_modalConteiner{
                width: 70%;
                height: 43%;
            }
            video{

                height: 55% !important;
            }
        }
        .merchBlockRibbon{
            left: -70px;
            .ribbonBlockLine{

                position: relative;
                width: 100%;
                height: 20px;
                top: 0px;
                .blockLineItem{
                    animation: moveRibbenItemMob 5s linear infinite;
                    display: inline-block;
                    min-width: 50px;
                    max-width: 50px;
                    min-height: 20px;
                    max-height: 20px;
                    background: #000;
                    position: relative;
                    z-index: 100;
                    transform: skew(-30deg);
                }
                .bottom{
                    transform: skew(30deg);
                    top: 2px;
                    .blockLineItem{
                        position: relative;

                    }
                }
            }
            width: 4000px;
            height: 100px;
            background: #FFC404;
            transform: rotate(-9deg);

            position: absolute;
            bottom: 460px;
            transform: rotate(6deg);

            position: absolute;
            bottom: 42px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            span{

                position: relative;
                animation: moveRibbenMob 5s linear infinite;
                color: #000;
                font-weight: 400;
                margin-left: 48px;
                font-size: 32px;
                line-height: 110%;
            }
        }
        .backLine{
            left: -70px;
           display: block;
            top: 42px;
            transform: rotate(-6deg);
            span{
                display: inline-block;
                width: 237px;
                height: 100%;
                padding-left: 48px;
                margin-left: 84px;
                padding-top: 27px;
                animation: moveRibbenBackMob 5s linear infinite;
            }
        }
        .merchBlockColumn{
            width: 100%;
            height: auto;
            .merchBLockTitle{
                line-height: 113%;
            }
            .merchBLockContent{
                width: 100%;
                height: auto;
                gap: 24px;
                display: flex;
                flex-direction: column;
                position: relative;
                flex-wrap: wrap;
                .merchBLockContentColumn{
                    &:first-child{
                        position: relative;
                        background: #171717;
                        top: 0px;
                        left: 0px;
                        z-index: 10;
                        .merchBLockContentRow{
                            height: 416px;
                            width: 328px;

                            .merchBLockContentImg{
                                position: absolute;
                                top: 70px;
                                right: -26px;
                                width: 377px;
                                height: 243px;
                                img{
                                    width: 100%;
                                    height: 100%;
                                }
                            }
                        }
                    }
                    &:last-child{
                        background: #000;
                        width: 100%;
                        position: relative;
                        display: flex;

                        gap: 24px;
                        &:last-child{
                            .stickerBlock{
                                width: 100%;
                                height: 100%;
                                position: relative;
                                top: 0;
                                left: 0;
                                display: flex;
                                overflow: hidden;
                                :first-child{
                                    top: 69px;
                                    width: 301px;
                                    height: 300px;
                                    left: -45px;
                                    z-index: 1;
                                }
                                :last-child{
                                    top: 114px;
                                    width: 207px;
                                    height: 208px;
                                    left: 130px;
                                    z-index: -1;
                                }
                                img{
                                    top: 0;
                                    position: absolute;
                                }
                            }
                        }
                    }

                }
            }
        }
    }

}



