.aboutUsModal {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  background: #171717;
  padding: 48px;

  &__container {
    width: 100%;
  }

  &Picture {
    box-sizing: content-box;
    width: 100%;

    img {
      width: 100%;
      height: 100%;
      background: #E6007E;
    }
  }

  .aboutUsModalLinks {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 10;
    padding: 48px 0;

    .aboutUsModalLink {
      align-items: center;
      display: flex;
      border: 0px;
      background: #171717;
      font-size: 16px;
    }

    .tg {
      &::before {
        margin-right: 12px;
        display: block;
        width: 48px;
        height: 48px;
        content: '';
        background: url(../../Shared/image/tg.svg);
      }
    }

    .crpt {
      .tooltip {
        position: absolute;
        z-index: 12;
        top: -30px;
        opacity: 0;
        transition: 0.3s;
        left: 30%;
        background: #2B2B2B;
        padding: 8px;

        &::before {
          content: '';
          display: block;
          width: 12px;
          height: 12px;
          bottom: -6px;
          position: absolute;
          z-index: 12;
          transform: rotate(45deg);
          background: #2B2B2B;
        }
      }

      position: relative;

      &:hover {
        .tooltip {
          opacity: 1;
        }

      }

      &::before {
        margin-right: 12px;
        display: block;
        width: 48px;
        height: 48px;
        content: '';
        background: url(../../Shared/image/crpt.svg);
      }
    }

    .alr {
      &::before {
        margin-right: 12px;
        display: block;
        width: 48px;
        height: 48px;
        content: '';
        background: url(../../Shared/image/alr.svg);
      }
    }
  }

  .aboutUsModalText {
    box-sizing: content-box;

    .aboutUsModalTitle {
      font-size: 40px;
    }

    .aboutUsModalDescription {
      font-family: 'Roboto', sans-serif;
      padding-top: 24px;
      line-height: 160%;
      font-weight: normal;
      font-size: 22px;
    }
  }

}

.hide {
  display: none;
}

@media all and (max-width: 1215px) {
  .aboutUsModal {
    padding: 24px;
    .aboutUsModalLinks {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 48px 0;
      position: relative;

      .aboutUsModalLink {
        align-items: center;
        display: flex;
        border: 0;
        background: #171717;
        margin-bottom: 24px;
      }

      .tg {
        margin-bottom: 0;
      }
    }

    .aboutUsModalText {
      box-sizing: content-box;

      .aboutUsModalTitle {
        line-height: 110%;
        font-size: 40px;
      }

      .aboutUsModalDescription {
        font-family: 'Roboto', sans-serif;
        padding-top: 24px;

        font-weight: normal;
        font-size: 22px;
      }
    }

    .aboutUsModalPicture {
      box-sizing: content-box;

      img {
        width: 100%;
        height: 100%;

      }
    }
  }
}

@media (max-width: 790px) {
  .aboutUsModal {
    .aboutUsModalLinks {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 24px 0;
    }

    .aboutUsModalText {
      box-sizing: content-box;

      .aboutUsModalTitle {
        font-size: 32px;
      }

      .aboutUsModalDescription {
        font-weight: normal;
        font-size: 18px;
      }
    }

  }
}

.hide {
  display: none;
}
