@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');
$pink: #E6007E; //main color of some text


@font-face {
    font-family: _DGO;
    src: url(Shared/fonts/Dela_Gothic_One/DelaGothicOne-Regular.ttf)  format('truetype');
}

.mainButton{
    display: inline-block;
    padding: 17px 16px 20px 16px;
    background-color: $pink;
    transform: skew(-8deg);
    span{
        display: block;
        transform: skew(8deg);
    }
    &:hover{
        transition: 0.3s;
    }
}



.pinkText{
    color: $pink;
}
.mainTitle{
    opacity: 0;
    font-weight: 400;
    font-size: 80px;
    line-height: 120%;
    transform: translate(0px, 100%);
    transition: 0.2s linear;
}

.mainTitle_show{
    opacity: 1;
    transform: translate(0px, 0%);
}

a{
    text-decoration: none;
}



*{
    z-index: 0;
    padding: 0;
    margin: 0;
    color: #fff;
    font-family: '_DGO';
    // scroll-behavior: smooth;
    box-sizing: border-box;
    &:hover{
        cursor: url(Shared/image/cursor32x32.png), pointer;
    }
    border: 0;
}

::-webkit-scrollbar {
        position: relative;
        width: 5px;
        height: 2px;
        background-color: #000;
    }
::-webkit-scrollbar-thumb {
        background-color: $pink;
        border-radius: 10px;
        height: 1%;
}


body{
    position: relative;
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;

}

.disableScroll{
    overflow-y: hidden;
    overflow-x: hidden;
}

html{
    position: relative;
    overflow: auto;
    scroll-behavior: smooth;
    h1,h2,h3,h4,h5,h6{
        font-size: 14px;
    }

    font-style: normal;
    box-sizing: border-box;
    background: #000;
    .conteiner{
        width: 1224px;
        margin: 0 auto;
    }


}

.hoverAnim{
    &:hover{
        opacity: 0.8;
    }
    &:active{
        opacity: 0.5;
    }
}

.hoverAnimBtn{
    &:hover{
        opacity: 1;
    }
    &:active{
        opacity: 0.5;
    }
}

@media all and (max-width: 1215px){

    html{
        .conteiner{
            width: 790px;
            padding: 0  0 0 43px;
         }
    }
    .mainTitle{
        font-size: 40px;
    }
    *:hover{
        cursor: default;
    }
}


@media (max-width: 790px){
    html{
        .conteiner{
            width: 360px ;
            padding: 0 0 0 16px;
         }
    }
    .mainTitle{
        font-size: 40px;
        width: 100%;
    }

}












